NVIDIA_API_KEY=
EMBEDDING_API_KEY=
RAIL_API_KEY=
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_DB=warehouse
BACKEND_PORT=8091
FRONTEND_PORT=3001
LLM_MODEL=meta/llama-3.1-70b-instruct
EMBEDDING_MODEL=nvidia/nv-embedqa-e5-v5
