NVIDIA_API_KEY=
EMBEDDING_API_KEY=
RAIL_API_KEY=
POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_DB=warehouse
DEFAULT_ADMIN_PASSWORD=changeme
DEFAULT_USER_PASSWORD=changeme
BACKEND_PORT=8091
HOST_BACKEND_PORT=8091
FRONTEND_PORT=3001
HOST_FRONTEND_PORT=3001
HOST_NGINX_PORT=3002
HOST_POSTGRES_PORT=5435
HOST_REDIS_PORT=6381
HOST_KAFKA_PORT=9095
HOST_ETCD_PORT=2381
HOST_MINIO_PORT=9003
HOST_MINIO_CONSOLE_PORT=9004
HOST_MILVUS_GRPC_PORT=19531
HOST_MILVUS_HTTP_PORT=9094
LLM_NIM_URL=https://integrate.api.nvidia.com/v1
LLM_MODEL=nvidia/llama-3.3-nemotron-super-49b-v1.5
LLM_CLIENT_TIMEOUT=120
EMBEDDING_MODEL=nvidia/nv-embedqa-e5-v5
